{% load static %}

{% comment %} Sets the graph with the correct color {% endcomment %}
{% if sensor.current_value >= treshold_critical %}
	<div id="chart" class="border rounded border-danger"></div>
{% elif sensor.current_value >= treshold_trigger %}
	<div id="chart" class="border rounded border-warning"></div>
{% else %}
	<div id="chart" class="border rounded"></div>
{% endif %}

{% comment %} Script für den graphen {% endcomment %}
<script src="{% static 'highcharts.src.js' %}"></script>
<script>
	Highcharts.chart("chart", {
		chart: {
			type: "line"
		},
		xAxis: {
			type: "datetime"
		},
		yAxis: {
			title: {
				text: "Konzentration (ppm)"
			}
		},
		title: {
			text: "Die letzten 24h"
		},
		legend: {
			enabled: false
		},
		series: [{
			name: "Co2 Konzentration",
			data: [
				{% for entry in history %}
					["{{entry.timestamp|date:"DATETIME_FORMAT"}}", {{entry.value}}],
				{% endfor %}
			],
			zones: [
			{
				// Green up to treshold_trigger
				value: {{treshold_trigger}},
				color: "#44FF38"
			},{
				// Yellow up to treshold_critical
				value: {{treshold_critical}},
				color: "#FFEA38"
			},{
				// Red up to infinity
				color: "#F72424"
			}]
		}]
	});
</script>
