{% load static %}
<!DOCTYPE html>
<html lang="de">
	<head>
		<link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-light sticky-top">
			<a class="navbar-brand" href="/co2">CO₂ Dashboard</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Hilfe</a>
					</li>
			</div>
		</nav>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		<script src="{% static 'bootstrap/js/jquery-3.3.1.slim.min.js'%}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
	</body>
</html>
