{% extends "co2app/base.html" %}

{% load static %}
{% block content %}
	{% if sensor.current_value >= treshold_critical %}
		<div class="alert alert-danger">
			Kritischer Wert überschritten
		</div>
	{% endif %}
	
	<div class="container">
		<div class="row rounded mb-3 bg-dark text-white">
			<div class="col">
				<h1 class="text-center">{{ sensor.hostname }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>Aktuell: {{sensor.current_value }} </h2>
				<h5>Letztes update: {{ sensor.last_log }}</h5>
			</div>
			<div class="col-8">
				{% if not history %}
					<div class="jumbotron">
						<h1>Keine Werte bisher gefunden<h1>
					</div>
				{% else %}
					{% include "./includes/graph.html" %}
				{% endif %}
	 		</div>
		</div>
	</div>
{% endblock %}
