{% extends "co2app/base.html" %}

{% block content %}
	<h1> Dashboard </h1>
	{% if sensors %}
		<div class="row">
			{% for sensor in sensors %}

				<div class="col-3 mt-4">
						<div class="card">
							<div class="card-header">
								{{ sensor.hostname }}
							</div>
							<div class="card-body">
								<h3 class="card-title text-center">
									{% if sensor.current_value >= treshold_critical %}
										<span style="color:{{ color_critical }}">{{ sensor.current_value }}</span>
									{% else %}
										{% if sensor.current_value >= treshold_trigger %}
											<span style="color:{{ color_trigger }}">{{ sensor.current_value }}</span>
										{% else %}
											{{ sensor.current_value }}
										{% endif %}
									{% endif %}
								</h3>
							</div>
							<div class="card-footer">
								{{sensor.last_log}}
								<a href="/co2/detail/{{sensor.hostname}}" class="stretched-link">Details</a>
							</div>
						</div>
				</div>

			{% endfor %}
		</div>
	{% else %}
		<b> No sensors available </b>
	{% endif %}

{% endblock %}
